<%= form_for(@preapproval) do |f| %>
  <% if @preapproval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preapproval.errors.count, "error") %> prohibited this preapproval from being saved:</h2>

      <ul>
      <% @preapproval.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
